# Assignment

## Q1.  Explain with an example each when to use a for loop and a while loop.

### For Loop =>
    A for loop is a control flow statement that executes code for a predefined number of iterations.
    The keyword used in this control flow statement is “for”. 
    When the number of iterations is already known, the for loop is used.

### Ex.
         var_Initialization
         for var1 in var2/range():
            statements() # Body of loop

Program

In [1]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

### While Loop =>
    A loop that executes a single statement or a group of statements for the given true condition.
    The keyword used to represent this loop is "while". 
    A "while" loop is used when the number of iterations is unknown.

## Ex.
        var_Initialization
        while Condition:
            statements() # Body of loop

Program

In [2]:
i = 2
result = 1
while result <= 10:
    print(result*i)
    result+=1

2
4
6
8
10
12
14
16
18
20

## Q2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop

### For Loop

SUM

In [3]:
result = 0
for i in range(1,11):
    result = result + i
result

55

PRODUCT

In [4]:
result = 1
for i in range(1,11):
    result = result * i
result

3628800

### While Loop

SUM

In [5]:
num = 0
result = 0
while num <= 10:
    result = result + num
    num = num + 1
result

55

PRODUCT

In [6]:
num = 1
result = 1
while num <= 10:
    result = result * num
    num +=1
result

3628800

## Q3. Create a python program to compute the electricity bill for a household.
## The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
## You are required to take the units of electricity consumed in a month from the user as input.
## Your program must pass this test case: when the unit of electricity consumed by the user in a month is 310, the total electricity bill should be 2250.

## Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list

### For Loop

In [7]:
l = []
for i in range(1,101):
    l.append(i)
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [8]:
l2 = []
for i in l:
    l2.append(i**3)
l2

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

In [9]:
l3 = []
for i in l2:
    if i%4 == 0 or i%5 == 0:
        l3.append(i)
l3

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

## While Loop

In [10]:
l = []
l1 = []
i = 0
n = 0
l2 = []
while n <= 100:
    l.append(n)
    n = n+1

In [11]:
while i < len(l):
    l1.append(i**3)
    i = i+1

In [12]:
j = 0
while j < len(l1):
    if l1[j]%4 == 0 or l1[j]%5 == 0:
        l2.append(l1[j])
    j = j + 1
l2

[0,
 8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

## Q5.  Write a program to filter count vowels in the below-given string.   string = "I want to become a data scientist"

In [13]:
string = "I want to become a data scientist"
count = 0
for i in string:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U':
        count = count + 1
count

12

### OR

In [14]:
l = ['a', 'e', 'i', 'o' , 'u', 'A', 'E', 'I', 'O', 'U']
string = "I want to become a data scientist"
count = 0
for i in string:
    if i in l:
        count = count + 1
count

12